PROJECT_NAME		= SNAKE
INPUT			= ./src ./include
FILE_PATTERNS		= *.cpp *.h
PERL_PATH		= /usr/bin/perl

OUTPUT_LANGUAGE		= English
OPTIMIZE_OUTPUT_FOR_C	= YES 
ENABLE_PREPROCESSING	= YES 

GENERATE_HTML		= YES
HTML_OUTPUT		= ./doc/html

GENERATE_LATEX		= YES
LATEX_OUTPUT		= ./doc/latex
PAPER_TYPE		= a4
